<app-menu></app-menu>
<div class="container mt-5 mb-5">
  <div class="card mt-5">
    <div class="card-header row">
      <div class="col-8">Liste des utilisateurs</div>
      <div class="col-4">
        <button
          class="btn rounded-pill btn-primary pull-right"
          routerLink="/admin/user/add"
        >
          <i class="bi bi-plus"></i> Nouveau utilisateur
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-middle" *ngIf="users.length > 0">
          <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Nom et prénom</th>
              <th class="text-dark font-medium fs-4">Adresse</th>
              <th class="text-dark font-medium fs-4">Role</th>
              <th class="text-dark font-medium fs-4">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <div class="d-flex align-items-center">
                  <span *ngIf="user.photo"
                    ><img
                      [src]="user.photo"
                      alt="user"
                      width="45"
                      class="rounded-circle"
                  /></span>
                  <div class="ms-3">
                    <h5 class="mb-0 font-medium">
                      <a routerLink="/admin/user/show/{{ user._id }}">{{ user.firstName }} {{ user.lastName }}</a>
                      
                    </h5>
                    <span>{{ user.email }}</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="mb-0 fw-normal">{{ user.address }}</h5>
              </td>
              <td>
                <span
                  class="mb-1 me-2 badge text-uppercase fw-bold"
                  [ngClass]="{
                    'bg-success': user.role == 'Admin',
                    'bg-info': user.role == 'Normal',
                    'bg-primary': user.role == 'Abonne'
                  }"
                  >{{ user.role }}</span
                >
              </td>
              <td>
                <button
                  class="btn rounded-circle btn-success me-2"
                  routerLink="/admin/user/update/{{ user._id }}"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn rounded-circle btn-danger"
                  (click)="suppUser(user._id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
